@model CashMachine.Models.CardBalance

@{
    ViewBag.Title = "Check Balance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Your Balance</h2>

<table>
    <tr>
        <td>Number:</td><td>@Model.CardNumber</td>
    </tr>
    <tr>
        <td>Balance:</td><td>@Model.Balance</td>
    </tr>
    <tr>
        <td>Today is:</td><td>@System.DateTime.Today.ToShortDateString()</td>
    </tr>
</table>
@Html.ActionLink("Back", "Index")
@Html.ActionLink("Exit", "Exit")